body{
   background-image: url('../images/portal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Modalz Tall;
    background-attachment: fixed;
    color: #4fe319;
}
#main-container{
    width: 1200px;
    padding: 0 2%;
    position: relative;
}
.header{
    margin: 0 auto;
    text-align: center;
}
.header img{
    height: 150px;
    margin: 0 auto;
}
#container{
    margin: 0 auto;
}
#characters{
    width: 15%;
    float: left;
    margin: 3%;
    margin: 0 auto;
}
#characters img {
    padding: 10px;
    width: 150px;
    float: left;
}